@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

:root {
  --bg: #fff;
  --text: #7288a2;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #03b5d2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: var(--bg);
  color: var(--gray);
  display: flex;
  min-height: 100vh;
}

.container {
  width: 65% !important;
  float: right;
  margin: 0 auto;
  padding: 4rem;
  width: 65rem;
  overflow-y: hidden;
  border: 1px solid gray;
}

/* Accordion Styles */
.accordion .accordion-item {
  border-bottom: 1px solid var(--lightgray);
}

.content {
  width: 100vw;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--blue);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: var(--blue);

  .icon::after {
    width: 0;
  }
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/* Add CSS for the side menu */
.side-menu {
  width: 35%;
  float: left;
  position: fixed;
  /* margin-top: 5%; */
  font-size: 22px;
  font-weight: 500;
  /* border-top: 1px solid gray; */
}

.side-menu a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  border-top: 1px solid gray;
}

.side-menu a.active {
  text-decoration: underline;
  color: #898c86;
}

.heading {
  text-align: center;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}

.topRow {
  position: fixed;
  height: 100px !important;
  top: 0;
  left: 0;
  z-index: -9999;
  background-color: #e5e5e5;
  color: #1b1b1b;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content .side-menu {
  position: fixed !important;
  height: 100vh;
  left: 0;
  bottom: 0;
}

.content .side-menu,
.content .container {
  position: relative;
  top: 100px;
  background: #e5e5e5;
  /* height: 100vh; */
  overflow: scroll;
  padding-left: 20px;
}

.main {
  z-index: 9999;
}

.content .container::-webkit-scrollbar,
.content .side-menu::-webkit-scrollbar {
  display: none;
}

.content .container,
.content .side-menu {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

@media only screen and (max-width: 550px) {
  .sidebar {
    display: none;
  }
  .container {
    top: 10px;
    width: 100% !important;
    margin: 0 auto;
    padding: 4rem;
    width: 65rem;
    overflow-y: hidden;
    border: 1px solid gray;
  }
  .content .side-menu,
  .content .container {
    top: 10px;
  }
}
